<ion-header style="background-color: gray">
  <ion-navbar>
    <ion-title text-center>

      LISTA DE TAREAS

    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding="true" style="background-color:darkslategray">

  <ion-item color="dark">

    <label for="">Añade una tarea</label>

    <ion-row>
      <ion-col col-9>
        <ion-item>
          <ion-input type="text" [(ngModel)]="newTask.name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <button color="secondary" ion-button block (click)="addTask(newTask)">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </ion-item>
  <br>

  <ion-card>

    <ion-list>

      <!-- creacion de las tareas -->

      <ion-item-sliding *ngFor="let task of tasks | async" ion-text>



        <ion-item color="dark" *ngIf="!task.estado">

          <ion-item style="background-color:burlywood"> <label type="text" style="background-color: burlywood">{{task.name}}</label></ion-item>
         
        </ion-item>

        <ion-item color="dark" *ngIf="task.estado">
            
                      <ion-item style="background-color:green"> <label type="text" style="background-color: green">{{task.name}}</label></ion-item>
                     
                    </ion-item>
            


        <ion-item-options side="right" (ionSwipe)="Finaliza(task.$key,task.estado)">
          <button color="secondary" ion-button  expandable (click)="Finaliza(task.name)">
            <ion-icon name="refresh-circle"></ion-icon>
          </button>




        </ion-item-options>

        <ion-item-options side="left" (ionSwipe)="removeTask(task)">

          <button ion-button color="danger" expandable (click)="removeTask(task)">

            <ion-icon name="trash"> Borrar</ion-icon>
          </button>

        </ion-item-options>

      </ion-item-sliding>



    </ion-list>

  
  </ion-card>
</ion-content>